# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Сертификаты (не коммитить приватные ключи)
certs/
auth/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

